In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd  # 导入pandas库

# 初始化浏览器
driver = webdriver.Chrome()

# 打开Forbes亿万富翁列表网页
driver.get('https://www.forbes.com/billionaires/')

# 等待页面加载
time.sleep(5)

# 初始化列表存储抓取到的信息
ids = []
ranks = []
names = []
net_worth = []
industries = []

# 查找所有带有 role="row" 的元素
rows = driver.find_elements(By.CSS_SELECTOR, 'div[role="row"]')

# 遍历每个 row，并获取相关信息
for row in rows:
    row_id = row.get_attribute('id')
    if row_id:
        ids.append(row_id)  # 存储 id

# 使用 Ids 来抓取各项信息
for id in ids:
    # 抓取排名
    rank_element = driver.find_elements(By.XPATH, f'//*[@id="{id}"]/div[1]')
    if rank_element:
        rank_value = rank_element[0].text
        ranks.append(rank_value)
    else:
        print(f"Rank not found for ID: {id}")
        ranks.append("N/A")

    # 抓取名字
    name_element = driver.find_elements(By.XPATH, f'//*[@id="{id}"]/div[2]')
    if name_element:
        name = name_element[0].text
        names.append(name)
    else:
        print(f"Name not found for ID: {id}")
        names.append("N/A")

    # 抓取净资产
    net_worth_element = driver.find_elements(By.XPATH, f'//*[@id="{id}"]/div[3]')
    if net_worth_element:
        net = net_worth_element[0].text
        net_worth.append(net)
    else:
        print(f"Net worth not found for ID: {id}")
        net_worth.append("N/A")

    # 抓取行业
    industry_element = driver.find_elements(By.XPATH, f'//*[@id="{id}"]/div[4]')
    if industry_element:
        industry = industry_element[0].text
        industries.append(industry)
    else:
        print(f"Industry not found for ID: {id}")
        industries.append("N/A")

# 创建DataFrame
data = {
    'Rank': ranks,
    'Name': names,
    'Net Worth': net_worth,
    'Industry': industries
}

df = pd.DataFrame(data)

# 关闭浏览器
driver.quit()

In [6]:
df

     Rank                             Name Net Worth               Industry
0      1.         Bernard Arnault & family    $233 B       Fashion & Retail
1      2.                        Elon Musk    $195 B             Automotive
2      3.                       Jeff Bezos    $194 B             Technology
3      4.                  Mark Zuckerberg    $177 B             Technology
4      5.                    Larry Ellison    $141 B             Technology
..    ...                              ...       ...                    ...
195  195.                          Lei Jun   $10.9 B             Technology
196  195.                 Georg Schaeffler   $10.9 B             Automotive
197  195.  Marcel Herrmann Telles & family   $10.9 B        Food & Beverage
198  199.             David Velez & family   $10.8 B  Finance & Investments
199  200.        Suleiman Kerimov & family   $10.7 B  Finance & Investments

[200 rows x 4 columns]